{% extends 'polls/base.html' %}
{% block content %}
{% if umfrage %}
<h1>{{ umfrage.name }}</h1>
<h2>Antwortmöglichkeiten</h2> <!--Hier ins englische übersetzen-->
{% if umfrage.choice_set.all %}
<form action="{% url 'vote' umfrage.slug %}" method="post">
    {% csrf_token %}
    {% for choice in umfrage.choice_set.all %}
    <input type="radio" name="choice" value="{{ choice.id }}" 
    id="choice{{ forloop.counter }}"/>
    <label for="choice{{ forloop.counter }}">{{ choice.name }}</label>
    {% endfor %}
    <input type="submit" value="Antwort absenden" />
</form>
{% else %}
<p>Leider wurde noch keine Anwortmöglichkeit hinterlegt.</p> <!--Hier ins englische übersetzen-->
{% endif %}
{% else %}
<h1>Es konnte keine Umfrage gefunden werden</h1> <!--Hier ins englische übersetzen-->
{% endif %}
{% endblock %}